body {
    background-color: rgb(223, 234, 235);
    color: black; 
    height: 100%;
    margin-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    background-image: linear-gradient(to right, black, yellow, white);
    color: black;
    padding: 0px;
  }
  

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    background-image: linear-gradient(to right, black, yellow, white);
    color: black;
    text-align: right;
    padding: 4px;
  }