<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бодрых Александр. Лабораторная работа {{nl}}</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{nl}}
    </header>

    <main>
        основной контент
    </main>
        11*28 = {{11 * 28}}<br>
        8452/793 = {{8452 / 793}}<br>
        45**8 = {{45**8}}<br>
    <footer>
        &copy; {{name}}, {{gr}}, {{nk}} курс, 2023
    </footer>
</body>
</html>